<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <link rel="stylesheet" href="/css/evo-calendar.css">
    <link rel="stylesheet" href="/css/evo-calendar.midnight-blue.css">
    <link rel="stylesheet" href="/css/index.css">
    <!-- Add jQuery library (required) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
</head>
<body>
    <div class="Container">
        <div id="calendar"></div>
    </div>
  
    <script src="/js/evo-calendar.js"></script>
    <script src="/js/calendar.js" type="module"></script>
</body>
</html>