<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%=title%></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/loginEvent.css">
    <!-- Add jQuery library (required) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/evo-calendar.css">
    <link rel="stylesheet" href="/css/evo-calendar.midnight-blue.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <br>
    <div class="calendar">
        <div id="calendar"></div>
    </div>
    <br>
    <div class="container">
      
        <script src="/js/evo-calendar.js"></script>
        <script src="/js/calendar.js" type="module"></script>

        <br>
        <form action="/" method="post" class="format">
            <div class="form-group nameE">
                <h3>Nombre del evento:</h3>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="form-group descE">
                <h3>Descripción del evento:</h3>
                <textarea class="form-control" id="description" name="description"></textarea>
            </div>
            <div class="form-group dateE">
                <h3>Fecha:</h3>
                <input type="date" class="form-control" id="date" name="date">
            </div>
            <div class="form-group colorE">
                <h3>Color en calendario:</h3>
                <input type="color" class="form-control" id="color" name="color">
            </div>
            <button type="submit" class="btn btn-primary btnE">Submit</button>
        </form>
    </div>
</body>
</html>