<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horror Terror</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
 <link rel="stylesheet" href="/css/merch.css">
    <link rel="stylesheet" href="/css/index.css">
  </head>

<body>
   <header>
            <div class="head">
                <div class="socialM">
                    <div class="socialL">
                        <a href="https://horrorterrormx.bandcamp.com/?fbclid=IwAR3dM9zSow2kEj6oIeHoJC7DqHQGRa4rLga93QX8fg44ZoO9IBNBVyDq6K4">
                            <img src="/img/bandcamp_logo.png" alt="" class="social" target=”_blank”>
                        </a>
                        <a href="https://www.facebook.com/horrorterrormx">
                            <img src="/img/facebook_logo.png" alt="" class="social" target=”_blank”>
                        </a>
                    </div>
                </div>
                <div class="logo">
                    <img src="/img/HORROR TERROR (RED).png" class="LogoHT" alt="">
                </div>
            </div>
       

        <!----> </header>

        <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top " id="mainNav">
            <div class="container">
              <a class="navbar-brand" href="#">Horror Terror</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-3 mb-lg-0 ms-auto">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#about us">Conoce a Horror Terror</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="#discografia">Discografía</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="#mercancia">Mercancía</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="#noticias">Noticias</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
      

        <div >
            <div class="aboutHT" id="about us">
                <h1>Conoce Horror Terror</h1>
                <div class="aboutContent">
                    <div class="aboutHT_text" style="color: beige; justify-content: center; text-align: justify;">
                        <P>
                          Chris Orozco es un guitarrista originario de Ciudad Juárez Chihuahua. Desde joven mostró un gran interés por la música, en especial por el rock y el metal. A la edad de 16 años recibió su primera guitarra eléctrica y desde ese momento no ha parado de tocar.
                        </P>
                        <p>
                          A lo largo de su carrera, Chris ha tocado en diversas bandas, pero fue en Horror Terror donde encontró su verdadera pasión. Horror Terror es una banda de death metal que se formó en 2018 y se convirtió en una de las más influyentes del género en la escena underground de Juarez. Comenzando en 2018 cuando aún era un grupo poco conocido.
                        </p>
                        <p>
                          A lo largo de los años, Horror Terror ha ganado el respeto y la admiración de muchos músicos y fans del género gracias a su dedicación y pasión por la música. Su legado como guitarrista y compositor como parte de la escena del metal en Juárez es indudable y continúa inspirando a nuevas generaciones de músicos.
                        </p>
                    </div>
                    <div class="aboutHT_IMG">
                            <img src="/img/HT_4.jpeg" alt="">
                    </div>
                </div>
                <div class="aboutFooter">
                    <br style="color: #3B2F2A">
                </div>
            </div>
             <!-------------------discografia-------------->
            <div class="discography" class="M_product" id="discografia">
                <div class="dicographyHeader">
                    <br>
                </div>
                <h1 style="text-align:center;">Discografía</h1>
                <div class="discoContent">
                    <div class="dText" style="color: beige; justify-content: center; text-align: justify;">
                        <p>
                          La habilidad de Chris en la guitarra rápidamente llamó la atención de los fans de Horror Terror y de otros músicos del género. Su estilo de tocar es técnico y agresivo, pero también emotivo y melódico. Chris es conocido por su habilidad para crear riffs pegajosos y llenos de ferocidad. 
                          <br> <br>
                          Además de su trabajo con Horror Terror, Chris también ha colaborado con otros artistas y bandas en la escena del metal a lo largo del mundo En el año 2022  lanzó su primer álbum en solitario, titulado "Horror Terror". Este álbum fue bien recibido por la crítica y los fans, y mostró la versatilidad de Chris como músico.
                        </p>
                        
                    </div>
                    <div class="discoCarousel">
                        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                            <div id="carouselExampleFade" class="carousel slide carousel-fade">
                                <div class="carousel-inner">

                                  <div class="carousel-item active c-item">
                                    <img src="https://f4.bcbits.com/img/a1676654771_16.jpg" class="d-block w-100 c-img" alt="S1">
                                    <div class="carousel-caption d-none d-md-block">                                                                
                                      <a class="btn btn-danger" onclick="location.href='https://horrorterrormx.bandcamp.com/album/depraved-martyrdom'" >Buy now!</a>
                                    </div>
                                    </div>

                                  <div class="carousel-item active c-item">
                                    <img src="https://f4.bcbits.com/img/a1457517872_10.jpg" class="d-block w-100 c-img" alt="S2">
                                    <div class="carousel-caption d-none d-md-block">                                                                
                                      <a class="btn btn-danger" onclick="location.href='https://horrorterrormx.bandcamp.com/track/shadow-i-roam-single'" >Buy now!</a>
                                    </div>
                                    
                                  </div>

                                  <div class="carousel-item c-item">
                                    <img src="https://f4.bcbits.com/img/a0040690853_10.jpg" class="d-block w-100 c-img" alt="S3">
                                    <div class="carousel-caption d-none d-md-block">                                                                
                                      <a class="btn btn-danger" onclick="location.href='https://horrorterrormx.bandcamp.com/album/horror-terror'" >Buy now!</a>
                                    </div>
                                  </div>

                                  <div class="carousel-item c-item">
                                    <img src="https://f4.bcbits.com/img/a2118007450_10.jpg" class="d-block w-100 c-img" alt="S4">
                                    <div class="carousel-caption d-none d-md-block">                                                                
                                      <a class="btn btn-danger" onclick="location.href='https://horrorterrormx.bandcamp.com/track/el-experimento-single-8-bit'" >Buy now!</a>
                                    </div>
                                  </div>

                                  <div class="carousel-item c-item">
                                    <img src="https://f4.bcbits.com/img/a0545077800_16.jpg" class="d-block w-100 c-img" alt="S5">
                                    <div class="carousel-caption d-none d-md-block">                                                                
                                      <a class="btn btn-danger" onclick="location.href='https://horrorterrormx.bandcamp.com/track/el-experimento-single'" >Buy now!</a>
                                    </div>
                                  </div>

                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="aboutFooter">
                    <br>
                </div>
            </div>
            <!----------------------------------------------------->
            <div id="mercancia">
                <h1>
                    Mercancía Oficial
                </h1>
                <p> puedes revisar la mercancía oficial </p>
                 <div class="M_products">
            <div class="M_comingSoon">
                <center>
                    <img src="/img/26691_.png" alt="" class="CoSo_img">
                </center>
            </div>
            <div class="M_CS_footer">
            </div>
            <br>
            <div class="M_product">
                    <div class="prdctIMG">
                        <img src="https://www.freeiconspng.com/thumbs/no-image-icon/no-image-icon-13.png" alt="" class="M_product_img">
                        <h2>IMG #1</h2>
                    </div>
                    <div class="prdctIMG">
                        <img src="https://www.freeiconspng.com/thumbs/no-image-icon/no-image-icon-13.png" alt="" class="M_product_img">
                        <h2>IMG #1</h2>
                    </div>
                    <div class="prdctIMG">
                        <img src="https://www.freeiconspng.com/thumbs/no-image-icon/no-image-icon-13.png" alt="" class="M_product_img">
                        <h2>IMG #1</h2>
                    </div>
                    <div class="prdctIMG">
                        <img src="https://www.freeiconspng.com/thumbs/no-image-icon/no-image-icon-13.png" alt="" class="M_product_img">
                        <h2>IMG #1</h2>
                    </div>
                    <div class="prdctIMG">
                        <img src="https://www.freeiconspng.com/thumbs/no-image-icon/no-image-icon-13.png" alt="" class="M_product_img">
                        <h2>IMG #1</h2>
                    </div>
                    <div class="prdctIMG">
                        <img src="https://www.freeiconspng.com/thumbs/no-image-icon/no-image-icon-13.png" alt="" class="M_product_img">
                        <h2>IMG #1</h2>
                    </div>
                    <div class="prdctIMG">
                        <img src="https://www.freeiconspng.com/thumbs/no-image-icon/no-image-icon-13.png" alt="" class="M_product_img">
                        <h2>IMG #1</h2>
                    </div>
            </div>
        </div>

        <div class="popup-img">
            <span>&times;</span>
            <img src="https://www.freeiconspng.com/thumbs/no-image-icon/no-image-icon-13.png" alt="">
        </div>

        <script>
            document.querySelectorAll('.M_product img').forEach(image =>{
                image.onclick = () =>{
                    document.querySelector('.popup-img').style.display = 'block';
                    document.querySelector('.popup-img img').src = image.getAttribute('src');
                    document.getElementById('mainNav').style.display = 'none';
                }
            });

            document.querySelector('.popup-img span').onclick = () =>{
              document.getElementById('mainNav').style.display = 'flex';
              document.querySelector('.popup-img').style.display = 'none';
            }
        </script>


            </div>

            <!--noticias-------------------------------------->
            <div  id="noticias" >
                <h1>Noticias de la banda</h1>
             
                <!---------------------->
                <div style="display: flex; align-items: center;  justify-content: center;  height: 70vh;    ">
                <div class="blog-card" style=" margin: 0;   padding: 0;  box-sizing: border-box;  ">
      <input type="radio" name="select" id="tap-1" checked>
      <input type="radio" name="select" id="tap-2">
      <input type="radio" name="select" id="tap-3">
      <input type="checkbox" id="imgTap">
      <div class="sliders">
        <label for="tap-1" class="tap tap-1"></label>
        <label for="tap-2" class="tap tap-2"></label>
        <label for="tap-3" class="tap tap-3"></label>
      </div>
      <div class="inner-part">
        <label for="imgTap" class="img">
          <img class="img-1" src="https://scontent-lax3-2.xx.fbcdn.net/v/t39.30808-6/329622698_557228319499651_5595787946919045968_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=DBBsrhjMpvUAX9AjfFv&_nc_ht=scontent-lax3-2.xx&oh=00_AfDYNJsrG9Z4XrQG7hxViOAgSB-Pt4V03ZWahdPFYJd6pw&oe=64BD401C">
        </label>
        <div class="content content-1">
          <span>14 junio 2023</span>
          <div class="title">Colaboracion con Guts'n Blood Records</div>
          <div class="text">YA MISMO SALE!!!! Atentos al brutal lanzamiento de FOUR DIMENSIONS OF DEATH en su versión regular y también edicion especial boxset (incluyendo 4 casettes con material inmédito de las 4 bandas participantes).</div>
          
        </div>
      </div>
      <div class="inner-part">
        <label for="imgTap" class="img">
          <img class="img-2" src="https://scontent-lax3-1.xx.fbcdn.net/v/t39.30808-6/340088286_900496504515736_6750512342212754092_n.jpg?stp=dst-jpg_p526x296&_nc_cat=105&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=d9cIo8LoFQUAX_VtYXb&_nc_ht=scontent-lax3-1.xx&oh=00_AfAtsyp7xNmFzE4LcSvTY_MaJPnQ-5YjZsSVlVfcEiZLKA&oe=64BD3C73">
        </label>
        <div class="content content-2">
          <span>22 Abril 2023</span>
          <div class="title">Evento!</div>
          <div class="text">Cthulhu Promotions. Ubicacion: 8pm 100 cover en el Anexo ignacio mejia #113 y Ferrocarril. Ahi nos vemos!! </div>
         
        </div>
      </div>
      <div class="inner-part">
        <label for="imgTap" class="img">
          <img class="img-3" src="https://th.bing.com/th/id/R.ea3a9cb092c66b6da5c4ab200dc0ddd0?rik=wZSJNvvTiS461w&riu=http%3a%2f%2ftop-guitars.co.uk%2fwp-content%2fuploads%2f2014%2f12%2fSongsterr.png&ehk=02BpLc%2fM9IMrKEducv%2f2XX4x72BdRxMXrYFiMsZA4Rk%3d&risl=&pid=ImgRaw&r=0">
        </label>
        <div class="content content-3">
          <span>7 Abril 2023</span>
          <div class="title">Revisa nuestros Tabs!</div>
          <div class="text">Tabs de Horror Terror disponibles por medio de Songsterr https://www.songsterr.com/?pattern=Horror%20Terror</div>
         
        </div>
      </div>
    </div>
</div>

                <!-------------->


            </div>

    </div>

</body>
</html>