body {
    width: 100%;
    background-image: url("/img/bg1.jpg");
    background-repeat: no-repeat;               
    background-size: cover;
    text-size-adjust: auto;
}

h1 {
    color: #FFDD67;
    text-align:center;
}

.Container {
    width: 100%;
}

.headContainer {
    width: 100%;
    background: rgb(46,43,43);
    background: linear-gradient(0deg, rgba(46,43,43,1) 0%, rgb(83, 80, 75) 100%);
    float: left;
    height: 100px;
}

.head {
    display: flex;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8

}

.socialM {
    flex-grow: 0.33;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
}

.social {
    height: 40px;
    width: 40px;
}

.logo {
    flex-grow: 0.33;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.LogoHT {
    width: 235px;
    height: 150px;
}


.navbar {
    background-color: burlywood;
    width: 100%;
    float: left;
    height: auto;
    z-index: 1000;
}

.navi {
    display: flex;
}


    .navi > li {
        flex-grow: 0.25;
    }

.HTcontent {
    width: 100%;
    background-color: blueviolet;
    float: left;
}

.aboutHT {
    width: 100%;
    height: auto;
    float: left;
    background-color: #A22021;
}

.aboutContent {
    display: flex;
    height: auto;
}

.aboutHT_text {
    background-color: #A22021;
    flex-grow: 0.5;
    padding: 2em;
}

.aboutHT_IMG {
    padding: 2em;
    flex-grow: 0.5;
    width: 50%;
    height: auto;
}

    .aboutHT_IMG > IMG {
        max-width: 500px;
        min-width: 100%;
    }

.aboutFooter {
    background-color: #3B2F2A;
    height: 25px;
    color: aliceblue;
}

.discography {
    width: 100%;
    float: left;
    background: rgba(255, 255, 255, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.6px);
    -webkit-backdrop-filter: blur(4.6px);
    border: 1px solid rgba(255, 255, 255, 0.952);
    display: grid;
   
}

.dicographyHeader {
    background-color: #3B2F2A;
    height: 25px;
}

.discoContent {
    display: flex;
    min-width: 100%;
}

.dText {
    display: flex;
    flex-grow: 0.5;
    width: 50%;
    padding: 3em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.discoCarousel {
    display: flex;
    height: auto;
    flex-grow: 0.5;
    width: 50%;
    margin-left: 12.5%;
}

.c-item {
    height: auto;
    width: 100%;
}

.c-img {
    height: 100%;
    width: 100%;
}


.merch {
    width: 100%;
    float: left;
    
}

.news {
    width: 100%;
    float: left;
    background-color: #3B2F2A;
}

@media (max-width: 1150px) {
    .aboutContent {
        display: block;
    }

    .aboutHT_text {
        background-color: #A22021;
        flex-grow: 1;
        padding: 2em;
    }

    .aboutHT_IMG {
        padding: 2em;
        flex-grow: 1;
        width: 100%;
        height: auto;
    }

        .aboutHT_IMG > IMG {
            width: 85%;
        }

    .discoContent{
        display: block;
        
    }
    .dText{
        flex-grow: 1;
        width: 100%;
    }
    .discoCarousel{
        flex-grow: 1;
        width: 85%;
        flex-wrap: nowrap;    
    }

}
.navbar-scroll {
    position: fixed;
    top: 0;
    transition: top 0.3s;
}


/*-----------------jovan---------*/
.blog-card {
    position: absolute;
    height: 370px;
    width: 95%;
    max-width: 1150px;
    margin: auto;
    border-radius: 25px;
    background: #373c3c;
    box-shadow: 0px 10px 50px rgba(252,56,56,.3);
}

.inner-part {
    position: absolute;
    display: flex;
    height: 360px;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
}

#imgTap:checked ~ .inner-part {
    padding: 0;
    transition: .1s ease-in;
}

.inner-part .img {
    height: 260px;
    width: 260px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 2px 3px 15px rgba(252,56,56,.1);
}

#imgTap:checked ~ .inner-part .img {
    height: 370px;
    width: 850px;
    z-index: 99;
    margin-top: 10px;
    transition: .3s .2s ease-in;
}

.img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    opacity: 0;
    transition: .6s;
}

#tap-1:checked ~ .inner-part .img-1,
#tap-2:checked ~ .inner-part .img-2,
#tap-3:checked ~ .inner-part .img-3 {
    opacity: 1;
    transition-delay: .2s;
}

.content {
    padding: 0 20px 0 35px;
    width: 530px;
    margin-left: 50px;
    opacity: 0;
    transition: .6s;
}

#imgTap:checked ~ .inner-part .content {
    display: none;
}

#tap-1:checked ~ .inner-part .content-1,
#tap-2:checked ~ .inner-part .content-2,
#tap-3:checked ~ .inner-part .content-3 {
    opacity: 1;
    margin-left: 0px;
    z-index: 100;
    transition-delay: .3s;
}

.content span {
    display: block;
    color: #7b7992;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 500
}

.content .title {
    font-size: 30px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 20px;
}

.content .text {
    color: #FFDD67;
    font-size: 19px;
    margin-bottom: 30px;
    line-height: 1.5em;
    text-align: justify;
}

.content button {
    display: inline-flex;
    padding: 15px 20px;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff0e6;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    border: 1px solid #fd3535;
    background: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
}

    .content button:hover {
        background: linear-gradient(147deg, #fe791b 0%, #fd1c1c 74%);
    }

.sliders {
    position: absolute;
    bottom: 25px;
    left: 65%;
    transform: translateX(-50%);
    z-index: 12;
}

#imgTap:checked ~ .sliders {
    display: none;
}

.sliders .tap {
    position: relative;
    height: 10px;
    width: 50px;
    background: #d9d9d9;
    border-radius: 5px;
    display: inline-flex;
    margin: 0 3px;
    cursor: pointer;
}

    .sliders .tap:hover {
        background: #cccccc;
    }

    .sliders .tap:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: 100%;
        width: -100%;
        background: linear-gradient(147deg,#f6b323 0%, #f23b26 74%);
        border-radius: 10px;
        transform: scaleX(0);
        transition: transform .6s;
        transform-origin: left;
    }

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

#tap-1:checked ~ .sliders .tap-1:before,
#tap-2:checked ~ .sliders .tap-2:before,
#tap-3:checked ~ .sliders .tap-3:before {
    transform: scaleX(1);
    width: 100%;
}